src/main/resources/validaCpf.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spring.io/guides/gs-producing-web-service"
           targetNamespace="http://spring.io/guides/gs-producing-web-service" elementFormDefault="qualified">

    <xs:element name="getValidaCpfRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cpf" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getValidaCpfResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="eValido" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>